body {
    margin: 0;
    font-family: Arial, sans-serif;
    overflow: hidden;
    position: relative;
    color: white;
}

.background-media {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    z-index: -1;
}

.background-media video,
.background-media img {
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    object-fit: cover;
}


.background-media::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
}

.content {
    position: relative;
    z-index: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    text-align: center;
    padding: 20px;
    box-sizing: border-box;
}

h1 {
    font-size: 3em;
    margin-bottom: 40px;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7);
}

.button-container {
    display: flex;
    gap: 30px;
}

.btn {
    justify-content: center;
    display: inline-flex;
    padding: 18px 35px;
    border-radius: 50px;
    text-decoration: none;
    font-size: 1.3em;
    font-weight: bold;
    transition: all 0.3s ease;
    box-shadow: 0 8px 15px rgba(0, 0, 0, 0.3);
    text-align: center;
    align-items: center;
}

#android {
    margin-top: 5px;
}

.primary-btn {
    background-color: #39A900;
    color: #fff;
    border: 2px solid #39A900;
}

.primary-btn:hover {
    background-color: #1e7e34;
    border-color: #1e7e34;
    transform: translateY(-3px);
}

.secondary-btn {
    background-color: #82DEF0;
    color: #fff;
    border: 2px solid #82DEF0;
}

.secondary-btn:hover {
    background-color: #0056b3;
    border-color: #0056b3;
    transform: translateY(-3px);
}


@media (max-width: 768px) {
    h1 {
        font-size: 2.2em;
    }

    .button-container {
        flex-direction: column;
        gap: 20px;
    }

    .btn {
        width: 80%;
        margin: 0 auto;
    }
 #android {
        margin-top: 2px !important;
    }
}

@media (max-width: 480px) {

    #android {
        margin-top:1px !important;
    }

    h1 {
        font-size: 1.8em;
    }

    .btn {
        padding: 15px 25px;
        font-size: 1.1em;
    }
}

@media (max-width: 360px) {
    h1 {
        font-size: 1.5em;
    }

    .btn {
        padding: 12px 20px;
        font-size: 1em;
    }
}