/* 
    * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    } */

    .qr {
        display: flex;
        justify-content: center;
        margin-top: 20px;
        margin-left: 400px;
    }
    .qrClass_label {
        margin-left: 400px;
        margin-top: 20px;
        margin-right: 50px;
        justify-content: end;
        display: flex;
        font-weight: 800;
    }
    /* p,
    label,
    span,
    table {
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        font-size: 9pt;
    } */

    .h2 {
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        font-size: 16pt;
        color: black;
    }

    .h2-desc {
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        font-size: 12pt;
        font-weight: bold;
        margin-bottom: 5px;
        color: black;
    }

    .h3 {
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        font-size: 12pt;
        display: block;
        background: #0a4661;
        color: #FFF;
        text-align: center;
        padding: 3px;
        margin-bottom: 5px;
    }

    #page_pdf {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
        width: 95%;
        margin: 15px auto 10px auto;
    }

    #factura_head,
    #factura_cliente,
    #factura_detalle {
        width: 100%;
        margin-bottom: 10px;
    }

    .logo_factura {
        width: 20%;
    }

    .info_empresa {
        width: 70%;
        text-align: center;
    }

    .info_factura {
        width: 25%;
    }

    .info_cliente {
        width: 100%;
    }

    .datos_cliente {
        width: 100%;
    }

    .datos_cliente tr td {
        width: 50%;
    }

    .datos_cliente {
        padding: 10px 10px 0 10px;
    }

    .datos_cliente label {
        width: 75px;
        display: inline-block;
    }

    .datos_cliente p {
        display: inline-block;
    }

    .textright {
        text-align: right;
    }

    .textleft {
        text-align: left;
    }

    .textcenter {
        text-align: center;
    }

    .round {
        border-radius: 10px;
        border: 1px solid #0a4661;
        overflow: hidden;
        padding-bottom: 15px;
    }

    .round p {
        padding: 0 15px;
    }

    #factura_detalle {
        border-collapse: collapse;
    }

    #factura_detalle thead th {
        background: #058167;
        color: #FFF;
        padding: 5px;
    }

    #detalle_productos tr:nth-child(even) {
        background: #ededed;
    }

    #detalle_totales span {
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    }

    .nota {
        font-size: 8pt;
    }

    .label_gracias {
        font-family: verdana;
        font-weight: bold;
        font-style: italic;
        text-align: center;
        margin-top: 20px;
    }

    .anulada {
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translateX(-50%) translateY(-50%);
    }

    .hr_bill  {
        border: none;
        /* Elimina el borde predeterminado */
        height: 5px;
        /* Ajusta el grosor de la línea */
        background-color: #000;
        /* Cambia el color de la línea */
    }


    /* body {
        font-family: Arial, sans-serif;
        background-color: rgb(255, 255, 255);
        margin: 20px;
    } */

    .comprobante {
        background-color: rgb(255, 255, 255);
        padding: 20px;
        /* border-radius: 8px; */
        width: 650px;
        color: #000;
        /* border: 1px solid #999; */
    }

    .fila-superior {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 20px;
    }

    .fecha {
        text-align: center;
        /* border: 2px solid black; */
        width: 140px;
    }

    .fecha label {
        display: block;
        font-weight: bold;
        background: white;
        padding: 2px 0;
    }

    .fecha .campos {
        display: flex;
        justify-content: space-between;
        border-top: 1px solid black;
    }

    .fecha .campos div {
        width: 33.33%;
        /* border-left: 1px solid black; */
        padding: 5px 0;
    }

    .fecha .campos div:first-child {
        /* border-left: none; */
    }

    .numero {
        text-align: center;
    }

    .numero b {
        font-size: 14px;
        display: block;
        margin-bottom: 4px;
    }

    .numero span {
        display: inline-block;
        padding: 5px 15px;
        border: 1px solid #444;
        border-radius: 8px;
        color: #b00000;
        font-size: 18px;
        font-weight: bold;
    }

    table.info {
        color: #000;
        width: 100%;
        border-collapse: collapse;
        border-radius: 20px;
        margin-top: 10px;
    }

    table.info td {
        border: 1px solid black;
        padding: 6px;
        font-size: 14px;
    }

    table.info td.theadl {
        font-weight: bold;
        width: 0%;
        background: rgb(124, 115, 105);
    }

    table.info td.label_bill {
        font-weight: bold;
        width: 0%;
        background: rgb(255, 255, 255);
    }

    table.fecha {
        width: 100%;
        margin-top: 10px;
        /* border-radius: 20px; */
        border-collapse: collapse;
        border: 2px solid black;
        border-radius: 12px;
    }

    table.fecha td {
        /* border-collapse: collapse; */
        border: 1px solid black;
        padding: 5px;
        font-size: 12px;
    }

    table.fecha td.label_bill {
        font-weight: bold;
        width: 0%;
        background: rgb(255, 255, 255);
    }

    .espacioBlanco {
        color: #FFF;
        cursor: text;
    }

    .desaparecer {
        color: #FFF;
        cursor: text;
    }
.agredecimientos_div{
    color:black;
    margin-left: 10px;
    padding-bottom: 30px;

    .qrClass{
        /* margin-left: 500px; */
        margin-top: 20px;
        margin-right: 50px;
        justify-content: end;
        display: flex;
    }
}
    #fechaTexto {
        margin-left: 30px;
        margin-bottom: -20px;
        margin-top: 20px;
        font-weight: bold;
        font-size: 12pt;

    }

    .cant {
        width: 20px;
    }

    .thead {
        background-color: rgb(219, 207, 207);
    }

    .fecha_bold {
        font-weight: bold;
    }

    #info-foot {
        margin-top: -2px;
    }
